.select{
    $rootSelector: &;
       height: 42px;
    width: 100%;
    border: 0.5px solid var(--color-border);
    border-radius: 3px;
    padding: 0 12px;

    &__option{
        font-size: 12px;
        font-weight: 500;
        color: var(--color-primary-text);
    }
}