.sidebar{

    $rootSelector: &;

    width: 100%;
    
    background-color: var(--color-background-ui);
    
    box-shadow: 0 5px 15px hsla(219, 52%, 21%, 0.1);

    display: flex;
    flex-direction: column;

    &__headline-wrapper{
        height: 50px;
        padding: 18px 24px;
        border-bottom: 0.5px solid var(--color-border);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__headline{
        font-size: 12px;
        font-weight: 500;
        color: var(--color-secondary-text);
        text-transform: uppercase;
        margin:0;
    }
    
    &__selection{
        font-size: 12px;
        font-weight: 700;
        color: var(--color-secondary-text);
        margin:0;
    }
    

    &__body{
        height: 100%;
    
        &:last-child{
            border-bottom: none;
        }
    }

    &__item{
        padding: 24px;
        border-bottom: 0.5px solid var(--color-border);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__footer{
        border-top: 0.5px solid var(--color-border);
        padding: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
            margin-right: 12px;
        }
    }
 
}

   
    @media only screen and (min-width: 1024px) {
        .sidebar{
            width: 372px;
            height: 100vh;
            // overflow-y: scroll;
        }

        .sidebar__body{
            overflow-y: scroll;
        }
    }

