/*
* Button Styles
*/

.btn{
    $rootSelector: &;
    display:flex;
    align-items: center;
    padding: 0 24px;
    height: 42px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px hsla(219, 52%, 21%, 0.1);
    font-weight: 700;

    transition-duration:  0.3s;
    transition-property: all;

    background-color: var(--color-primary);
    color: white;
 
    &:hover{
    cursor: pointer;
    background-color: var(--color-primary-darker);
    border-color: var(--color-primary-darker);
    }

    &--outline{
        background-color: white;
        color: var(--color-primary);

        &:hover{
            border-color: var(--color-primary-darker);
            color: var(--color-primary-darker);
        }
    }

    &--link{
        box-shadow: none;
        padding: 0;
        border: none;
        color: var(--color-primary);
        background-color: transparent;
        text-decoration: underline;

        &:hover{
            color: var(--color-primary-darker);
        }
    }
}