:root{
    --color-blue: #0051FF;
    --color-blue-darker: #0048E3;
    --color-orange: #EB4826;
    --color-orange-darker: #c93c0c;
    --color-beige: #E6E2DE;
    --color-beige-darker: #D6D3CF;
    --color-border: #CFD6E5;

    --color-primary: var(--color-orange);
    --color-primary-darker: var(--color-orange-darker);

    --color-background: #f3f5f9;

    --color-glaze-blue: #1F5EDB;
    --color-glaze-pink: #EFB0C3;
    --color-glaze-yellow: #D0EF2C ;
    --color-glaze-green: #778A7B;
} 