:root{
    --color-blue: #0051FF;
    --color-blue-darker: #0048E3;
    --color-orange: #EB4826;
    --color-orange-darker: #c93c0c;
    --color-orange-lighter: #FF917A;
    --color-beige: #E6E2DE;
    --color-beige-darker: #D6D3CF;
    
    --color-primary: var(--color-orange);
    --color-primary-darker: var(--color-orange-darker);
    --color-primary-lighter: var(--color-orange-lighter);
    
    --color-background: #f3f5f9;
    --color-background-ui: #E9EAEF;
    --color-primary-text: #141414;
    --color-secondary-text: #404754;
    
    --color-border: #BFCCE4;
    // --color-border: #CFD6E5;
    --color-border-darker: #9fa5b2;
} 