@import './styles/fonts';
@import './styles/colors';

@import './styles/components/sidebar';

@import './styles/components/color-radio';
@import './styles/components/button';
@import './styles/components/card-product';
@import './styles/components/card';
@import './styles/components/loading-screen';
@import './styles/components/header';
@import './styles/components/input';
@import './styles/components/formgroup';
@import './styles/components/select';



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --brp-0: 320px;
  --brp-1: 375px;
  --brp-2: 425px;
  --brp-3: 768px;
  --brp-4: 1024px;
  --brp-5: 1440px;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;

}

.app{
    width: 100vw;
    height: 100vh;

    background-color: var(--color-background);
  
}


.canvas{
    z-index: 999;
    width: 100%;
}


.ui{
    position: static;
    z-index: 999;

}


// Scrollbar

::-webkit-scrollbar {
    width: 4px;
  }

::-webkit-scrollbar-track {
    background: var(--color-background-ui);

}

::-webkit-scrollbar-thumb {
    background: var(--color-border-darker);
    border-radius: 50px;

  }

::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-darker);
    border-radius: 50px;
  }

::-webkit-scrollbar-thumb:active {
    background: var(--color-border);

  }


@media only screen and (min-width: 1024px) {
    .title{
    font-size: 10px;
}
    .ui{
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
    }

    .canvas{
    z-index: 999;
    width: 80% !important;
}
}

