:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --brp-0: 320px;
  --brp-1: 375px;
  --brp-2: 425px;
  --brp-3: 768px;
  --brp-4: 1024px;
  --brp-5: 1440px;
}
*{
    box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;

}

.App{
    width: 100vw;
    height: 100vh;

    background: url(../mesh-gradient.webp);
            background-size: cover;
}

.canvas{
    z-index: 999;
}



@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
   
}

@media only screen and (min-width: 1440px) {
   
}